<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src = "../../../Market.GIF"><a class="navbar-brand" href="#">CoinMarketCap</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Rangkings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Tools</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Resource</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Blog</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            ...          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Methodology</a>
            <a class="dropdown-item" href="#">Careers</a>
            <a class="dropdown-item" href="#">FAQ</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
       
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
   
</nav>  
<div style="text-align:center;">
<h3>Top 100 Cryptocurrencies by Market Capitalization</h3>
</div>
<div class="container">
    <div class="row" style="text-align:left; ">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Cryptocurrencies</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" style="background-color:black; color: white;" href="#">All Cryptocurrencies</a>
              <a class="dropdown-item" href="#">Top 100</a>
              <a class="dropdown-item" href="#">Full List</a>
              <a class="dropdown-item" style="background-color:black; color: white;" href="#">Coins Only</a>
              <a class="dropdown-item" href="#">Top 100</a>
              <a class="dropdown-item" href="#">Full List</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Market Cap by Circulating Supply</a>
              <a class="dropdown-item" href="#">Market Cap by Total Supply</a>
              <a class="dropdown-item" href="#">Filter Non-Mineable</a>
              <a class="dropdown-item" style="background-color:black; color: white;" href="#">Token Only</a>
              <a class="dropdown-item" href="#">Top 100</a>
              <a class="dropdown-item" href="#">Full List</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Market Cap by Circulating Supply</a>
              <a class="dropdown-item" href="#">Market Cap by Total Supply</a>
              <a class="dropdown-item" style="background-color:black; color: white;" href="#">Exchanges</a>
              <a class="dropdown-item" href="#">Top 100 By Adjusted Volumn</a>
              <a class="dropdown-item" href="#">Top 100 By Reported Volumn</a>
            </div>
          </li>  
     
      <div class="w-100"></div>
      <div class="col-1">#</div>
      <div class="col-1">Name</div>
      <div class="col-2">Market Cap</div>
      <div class="col-1">Price</div>
      <div class="col-2">Volumn (24h)</div>
      <div class="col-2">Circulating Supply</div>
      <div class="col-1">Change (24h)</div>
      <div class="col">Price Graph (7d)</div>
      <div class="w-100"></div>
      <div class="col-1">1</div>
      <div class="col-1"><a href="http://localhost:4200/bitcoin">Bitcoin</a></div>
      
      <div class="col-2">$169,413,204,164</div>
      <div class="col-1" style="color:blue;">$9,462.79</div>
      <div class="col-2" style="color:blue;">$19,318,411,362</div>
      <div class="col-2">17,903,100 BTC</div>
      <div class="col-1" style="color:red;">-6.94%</div>
      <div class="col"><img src = "http://localhost:4200/linechart"></div>

    </div>
    
  </div>
