<h6>Cryptocurrencies:  2579  •  Markets:  20454  •  Market Cap:  $265,974,985,489  •  24h Vol:  $60,187,083,376  •  BTC Dominance:  70.2%
                                  Advertise | EN</h6>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src = "../../../logo_192x192_1.png"><a class="navbar-brand" href="#">CoinMarketCap</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Rangkings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Tools</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Resource</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Blog</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            ...          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Methodology</a>
            <a class="dropdown-item" href="#">Careers</a>
            <a class="dropdown-item" href="#">FAQ</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
       
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
   
</nav>  
<div class="container">
    <div class="row">
      <div class="col-4">
        <div>Bitcoin (BTC)</div>
        <span class="badge badge-success">Rank1</span>
        <div><span class="badge badge-light">Website</span></div>
        <div><span class="badge badge-light">Explorer ( 2 3 4 5 )</span></div>
        <div><span class="badge badge-light">Message Board</span></div>
        <div><span class="badge badge-light">Source Code</span></div>
        <div><span class="badge badge-light">Technical Documentation</span>
        <div><span class="badge badge-warning">Coin</span>
        <span class="badge badge-warning">Mineable</span></div>
      </div>
    </div>
      <div class="col-8">
        <div>$10,429.41 USD (5.98%) 
            <div class="btn-group" role="group">
              <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color:blue">
               Buy
              </button>
              <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" >
                <a class="dropdown-item" href="#">Buy Bitcoin Now
                  Crypto.com  Crypto.com - The crypto super app - Buy, sell, earn in one place.   
                  Buy 40+ coins at True Cost. No fees. No markups.</a>
              </div>
              <button id="btnGroupDrop2" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color:blue">
               Exchange
              </button>
              <div class="dropdown-menu" aria-labelledby="btnGroupDrop2" >
                <a class="dropdown-item" href="#">Exchange
                    BHEX BHEX: The Innovative Trading Platform 
                    Backed by Huobi & OKEX; offers OTC, Spot and Derivatives trading, and provides Exchange Cloud solution and liquidity aggregation services to 100+ clients.</a>
              </div>
              <button id="btnGroupDrop3" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color:blue">
                Trade
              </button>
              <div class="dropdown-menu" aria-labelledby="btnGroupDrop3" >
                <a class="dropdown-item" href="#">Trade
                    Gemini Gemini: “Best Crypto Exchange” - 2019 Markets Choice Awards 
                    Trade Crypto Instantly with Premium Tools, Advanced Security & Insured Protection. Get Started For Free!</a>
              </div>
              <button id="btnGroupDrop4" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color:blue">
                Crypto Credit
              </button>
              <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" >
                <a class="dropdown-item" href="#">Get an Instant Credit Line & Earn Interest
                                                  Nexo Nexo Wallet - Your Crypto Banking Account 
                                                  Instant loans by local bank transfer using your crypto as collateral without selling it. Earn up to 8% interest per year on your Stablecoins & EUR. $100M custodial insurance.
                                                  Crypto.com Crypto.com - Get the most out of your crypto. 
                                                  Earn up to 8% p.a. on BTC, ETH, XRP, your Stablecoins and more. Interest paid out weekly. Withdraw anytime. Grow your cryptos with us now.</a>
              </div>           
            </div>
          
            <div class="container">
                <div class="row">
                  <div class="col">Market Cap</div>
                  <div class="col">Volumn (24h)</div>
                  <div class="col">Circulating Supply</div>
                  <div class="col">Max Supply</div>
                  <div class="w-100"></div>
                  <div class="col">$189,790,177,657 USD </div>
                  <div class="col">$19,059,573,906 USD </div>
                  <div class="col">17,914,700 BTC</div>
                  <div class="col">21,000,000 BTC </div>
                </div>
              </div>
          </div>
          
      </div>
      
    </div>
    <app-linechart></app-linechart>
</div>    

